* {
    background-color: rgb(246, 246, 246);
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: video 2s ease-in-out;
  
}

h3 {
    margin: 0 auto;
}

.me {
    text-align: center;
    margin: 10px;
}

.mainArea{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 7px 1px;
    background-color: rgb(247, 247, 247);
    padding: 30px;
    width: 900px;
    height: fit-content;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    border: 1px solid  rgb(171, 171, 171);
}

.top {
    position: absolute;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    background-color: rgb(200, 200, 200);
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    display: inline-flex;
    border-bottom: 1px solid  rgb(171, 171, 171);
}
  
.topbtn {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin: 2px;
}

.title {
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    margin-inline-start: -35px;
    color: rgb(79, 79, 79);
    text-align: center;
    width: -webkit-fill-available;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.icon {
    width: 50px;
    height: 30px;
    margin-bottom: 5px;
}

a, .icon {
    background-color: transparent;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: rgb(65, 65, 65);
}

a:hover {
    color: rgb(149, 0, 0);
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.field {
    border: solid rgba(223, 223, 223, 0.48) 3px;
    border-radius: 7px;
}

.headfield {
    margin-top: 20px;
    text-align: center;
}

.headLegend {
    font-size: 12px;
}

p {
    margin: auto;
}

ul{
    padding: 0px;
    margin: 5px;
}

li {
    list-style: none;
}


.b4lastcolumn{
    padding: 15px;
    float: left;
    width: 62%;
}

.educationSection {
    padding: 5px;
}

.achive {
    float: left;
    width: 33%;
}

.centerContainer {
    display: flex;
    justify-content: center;
}


@keyframes open {
    0%{
        transform: translate3d(0,1000px,0);
    }

    100%{
        transform: translate3d(0,0,0);
    }
}


@keyframes video {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


@media screen and (min-width: 1000px) {
    #profile{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    @media screen and (max-height: 800px) {
        #profile{
            position: -webkit-sticky;
            position: sticky;
        }
    }
    
}


@media screen and (max-width:1000px) {
  .column {
    width: -webkit-fill-available;
  }
  .mainArea {
    width: fit-content;
    /* margin-bottom: 15%; */
    height: -webkit-fit-content;
    padding: 2%;
    position: -webkit-sticky;
    position: sticky;
  }

  #head {
    text-align: center;
    margin-top: 10px;
  }

  .fieldcolumn {
    float: left;
    width: 45%;
    padding: 5px;
  }

  .educationSection {
    width: 100%;
  }

  .achive {
    width: 100%;
  }

  .b4lastcolumn {
    width: 97%;
  }

}

@media screen and (max-width:500px) {
    .fieldcolumn{
        width: 100%;
    }

    .educationSection {
        width: 100%;
    }

    .mainArea {
        /* margin-bottom: 100px; */
        position: -webkit-sticky;
        position: sticky;
    }

    .achive {
        width: 100%;
    }

    .b4lastcolumn {
        width: 90%;
    }
    @keyframes open {
        0%{
            transform: translate3d(0,1000px,0);
            background-color:rgba(255, 255, 255, 1);
            opacity: 0;
        }
    
        100%{
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }
}
