:root {

}

* {
    background-color: rgb(246, 246, 246);
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: video 2s ease-in-out;
}

.mainArea{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 7px 1px;
    background-color: rgb(247, 247, 247);
    padding: 30px;
    width: 900px;
    height: fit-content;
    /* position: -webkit-sticky; */
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    border-radius: 10px;
    border: 1px solid  rgb(171, 171, 171);
}


.top {
    position: absolute;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    background-color: rgb(200, 200, 200);
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    display: inline-flex;
    border-bottom: 1px solid  rgb(171, 171, 171);
}
  
  
.topbtn {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin: 2px;
}


.nav {
    position: fixed;
    bottom: 10px;
    width: fit-content;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.08);
    animation: navAnimation 5.5s ease-in;
}


.navindicator {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 2px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    margin: 0 auto;
}


.navbtn {
    display: -webkit-inline-flex;
    text-align: -webkit-center;
    flex-wrap: wrap;
    flex-direction: column;
}
  
.title {
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    margin-inline-start: -35px;
    color: rgb(79, 79, 79);
    text-align: center;
    width: -webkit-fill-available;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

a, .icon {
    background-color: transparent;
}

.icon {
    width: 50px;
    height: 30px;
    margin-bottom: 5px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.field {
    border: solid rgba(223, 223, 223, 0.48) 3px;
    border-radius: 7px;
}

p {
    margin: auto;
}

ul, h4 {
    padding: 0px;
    margin: 5px;
}

li {
    list-style: none;
}


.b4lastcolumn{
    padding: 15px;
}

.educationSection {
    padding: 5px;
}


@keyframes navAnimation {
    0%{
        transform: translateY(550px);
    }

    100%{
        transform: translateY(0px);
    }
}


@keyframes open {
    0%{
        transform: translateY(1500px);
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes close {
    0%{
        transform: translateY(0px);
        opacity: .5;
    }

    100%{
        transform: translateY(1500px);
        
    }
}

@keyframes video {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}



@media screen and (min-width: 1000px) {
    #contact{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    #profile{
        position: absolute;
        margin: auto;
    }

    @media screen and (max-height: 700px) {
        #profile, #contact {
            position: -webkit-sticky;
            position: sticky;
        }
    }
    
}


@media screen and (max-width:1000px) {
  .column {
    width: -webkit-fill-available;
  }
  .mainArea {
    width: fit-content;
    margin-bottom: 15%;
    height: -webkit-fit-content;
    padding: 2%;
    position: -webkit-sticky;
    position: sticky;
  }

  #head {
    text-align: center;
    margin-top: 10px;
  }

  .fieldcolumn {
    float: left;
    width: 45%;
    padding: 5px;
  }

  .educationSection {
    width: 100%;
  }

}

@media screen and (max-width:500px) {
    .fieldcolumn{
        width: 100%;
    }

    .educationSection {
        width: 100%;
    }

    .mainArea {
        margin-bottom: 100px;
        position: -webkit-sticky;
        position: sticky;
    }
}
